.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Info Gallery Projects"
    "Info Gallery Projects"
    "Info Gallery Projects";
}

.Info {
  justify-self: center;
  align-self: center;
  grid-area: Info;
}

.Gallery {
  justify-self: center;
  align-self: center;
  grid-area: Gallery;
}

.Projects {
  justify-self: center;
  align-self: center;
  grid-area: Projects;
}

.vl {
  border-left: 6px solid black;
  height: 500px;
}