.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas:
    "Info Gallery Projects"
    "Info Gallery Projects"
    "Info Gallery Projects";
}

.Info { 
    grid-area: Info; 
    justify-content: center;
    align-content: center;
  }
.Gallery { 
    grid-area: Gallery; 
    justify-content: center;
    align-content: center;
  }
.Projects { 
    grid-area: Projects;
    justify-content: center;
    align-content: center;
}
